
html {
  height: 100%;
}

body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c4c4c4+0,aaaaaa+100 */
background: #c4c4c4; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #c4c4c4 0%, #aaaaaa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#c4c4c4), color-stop(100%,#aaaaaa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #c4c4c4 0%,#aaaaaa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #c4c4c4 0%,#aaaaaa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #c4c4c4 0%,#aaaaaa 100%); /* IE10+ */
background: linear-gradient(135deg,  #c4c4c4 0%,#aaaaaa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#aaaaaa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  position: relative;
  margin-top: 50px;
}

.wrapper {
  width: 406px;
  margin: 0 auto;
}

.profile_pic img {
  border: 2px solid #fff;
}

.phone {
  background: url('https://i.imgur.com/5lBc2gn.png?1') no-repeat;
  width: 406px;
  height: 538px;
}

.page {
  width: 44%;
  /* height: 59%; */

  height: 316px;
  position: relative;
  top: 100px;
  left: 104px;
  z-index: 1;
  overflow-y: hidden;
}

.top_background {
  width: 100%;
  min-height: 314px;
  height: auto;
  overflow: hidden;
  background: #12232D;
  display: inline-block;
  color: #fff;
  font-size: 0.6em;
}

.gray {
  color: #3F3F3F !important;
}

.sigs {
  float: left;
  padding-right: 2px;
  padding-left: 3px;
}

.times {
  float: right;
  padding-right: 58px;
}

.bats {
  float: right;
  padding-right: 3px;
}

.home {
  margin-top: 20px;
  height: 50px;
}

.clicker {
  height: 40px;
  z-index: 4;
  cursor: pointer;
  position: relative;
  top: -87px;
}

.clicker2 {
  height: 40px;
  z-index: 4;
  cursor: pointer;
  position: relative;
  top: -87px;
}

h5 {
  padding-top: 15px;
}

.homes {
  background: #C0392B;
}

.homes:hover {
  background: #7F8C8D !important;
  color: #fff !important;
}

.layers {
  color: #ffffff;
  height: 255px;
  z-index: 2;
}


.btn:hover {
  background: #232323 !important;
}

.clicker:hover {
  background: #191919 !important;
  color: #fff;
}

.icons {
  margin-top: 33%;
}

.form-control,
.btn,
.btn-default {
  border-radius: none !important;
  background: #191919;
  color: #717171;
  border: none !important;
}

.input-group {
  margin-bottom: 1px;
}
/* form input focus */

.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}

/* menu titles */
.names{
  text-center: center;
}

.names:hover{
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu2{
  position: relative;
  top: -180px;
  z-index: 5;
}

.boxes{
  background: #2980B9;
  position: relative;
  top: 0px;
}

.down{
  position: relative;
  top: 0px;
  transition: all 0.5s ease-in-out;
}

.up{
  position: relative;
  top: 100px;
  transition: all 0.5s ease-in-out;
}

.large{
  background: none;
  width: 178px;
  height: 295px;
  z-index: 4;
  position: relative;
  top: -85px;
  transition: al 0.5s ease-in-out;
}

.boxes h2 span{
  font-size: 0.275em;
}
