
  html, body {margin: 0; height: 100%; overflow: hidden}



body { margin:0; padding:0; }
#map { position:absolute; top:57px; bottom:0px; width:100%; }
.simpleoverlay{
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
}

.mapoverlay {
  position:absolute;
  background: #2c6856;
  opacity: 0.8;
  top: 57px;
  width: 100%;
  margin: 0 !important;
  /* border-radius: 20px; */
  color: #333333 !important;
}
.mapoverlaytwo {
  position:absolute;
  background: #f5f5f6;
  opacity: 0.4;
  bottom: 0px;
  width: 100%;
  height: 240px;
  color: #FFFFFF;
  margin: 0 !important;
}

.open {
  animation: yourAnimation 1s 1 0s ease-in;
  height: 75%;
  padding: 30px;
  opacity: 0.9;

}

.controls {
  margin-top: 10px !important;
}


/* label color */
 .iff {
   border: none !important;
   box-shadow: none !important;
 }

 .iff:focus {
   border: none !important;
   box-shadow: none !important; }

.navigation{
  position:absolute;
  background: #333333;

}

.mapboxgl-ctrl-logo{
  /* display: none !important; */
}

.pac-container {
  top: 156px !important;
}

nav {
  background: #173e2d !important;
  height: 57px !important;
}
.brand-logo{
  top: 10px !important;
}
.logoimg{
  height: 40px;
  width: 40px;
}

@keyframes yourAnimation{
    0%{
        transform: rotate(xx);
        height: 200px;
        }

    100%{
        transform: rotate(xx);
        height: 71%;
        padding: 30px;
        }
}

.elementToAnimate{
}
