
.dark-overlay {
    background-color: rgba(0,0,0,.9)
}

.light-overlay {
    background-color: rgba(255,255,255,.6)
}

.overlay-dark {
    background-color: rgba(0,0,0,.7)
}

.overlay-light {
    background-color: rgba(255,255,255,.6)
}

.bg-teal-light {
    background-color: #1abc9c!important;
    color: #fff
}

.bg-teal-dark {
    background-color: #16a085!important;
    color: #fff
}

.border-teal-light {
    border: solid 1px #1abc9c!important
}

.border-teal-dark {
    border: solid 1px #16a085!important
}

.bg-hover-teal-light:hover {
    background-color: #1abc9c!important;
    color: #fff!important;
    transition: all 200ms ease
}

.bg-hover-teal-dark:hover {
    background-color: #16a085!important;
    color: #fff!important;
    transition: all 200ms ease
}

.color-teal-light {
    color: #1abc9c!important
}

.color-teal-dark {
    color: #16a085!important
}

.bg-green-light {
    background-color: #45bd61!important;
    color: #fff
}

.bg-green-dark {
    background-color: #2abb67!important;
    color: #fff
}

.bg-gold-light {
    background-color: #ffca1c!important;
    color: #fff
}

.bg-gold-dark {
    background-color: #fac824!important;
    color: #fff
}

.border-green-light {
    border: solid 1px #2ecc71!important
}

.border-green-dark {
    border: solid 1px #2abb67!important
}

.bg-hover-green-light:hover {
    background-color: #2ecc71!important;
    color: #fff!important;
    transition: all 200ms ease
}

.bg-hover-green-dark:hover {
    background-color: #2abb67!important;
    color: #fff!important;
    transition: all 200ms ease
}

.color-green-light {
    color: #2ecc71!important
}

.color-green-dark {
    color: #2abb67!important
}

.bg-blue-light {
    background-color: #3498db!important;
    color: #fff
}

.bg-blue-dark {
    background-color: #2980b9!important;
    color: #fff!important
}

.border-blue-light {
    border: solid 1px #3498db!important
}

.border-blue-dark {
    border: solid 1px #2980b9!important
}

.bg-hover-blue-light:hover {
    background-color: #3498db!important;
    color: #fff!important;
    transition: all 200ms ease
}

.bg-hover-blue-dark:hover {
    background-color: #2980b9!important;
    color: #fff!important;
    transition: all 200ms ease
}

.color-blue-light {
    color: #3498db!important
}

.color-blue-dark {
    color: #2980b9!important
}

.bg-magenta-light {
    background-color: #9b59b6!important;
    color: #fff
}

.bg-magenta-dark {
    background-color: #8e44ad!important;
    color: #fff
}

.border-magenta-light {
    border: solid 1px #9b59b6!important
}

.border-magenta-dark {
    border: solid 1px #8e44ad!important
}

.bg-hover-magenta-light:hover {
    background-color: #9b59b6!important;
    color: #fff!important;
    transition: all 200ms ease
}

.bg-hover-magenta-dark:hover {
    background-color: #8e44ad!important;
    color: #fff!important;
    transition: all 200ms ease
}

.color-magenta-light {
    color: #9b59b6!important
}

.color-magenta-dark {
    color: #8e44ad!important
}

.bg-night-light {
    background-color: #34495e!important;
    color: #fff
}

.bg-night-dark {
    background-color: #2c3e50!important;
    color: #fff
}

.border-night-light {
    border: solid 1px #34495e!important
}

.border-night-dark {
    border: solid 1px #2c3e50!important
}

.bg-hover-night-light:hover {
    background-color: #34495e!important;
    color: #fff!important;
    transition: all 200ms ease
}

.bg-hover-night-dark:hover {
    background-color: #2c3e50!important;
    color: #fff!important;
    transition: all 200ms ease
}

.color-night-light {
    color: #34495e!important
}

.color-night-dark {
    color: #2c3e50!important
}

.bg-yellow-light {
    background-color: #e67e22!important;
    color: #fff
}

.bg-yellow-dark {
    background-color: #e86f2a!important;
    color: #fff
}

.border-yellow-light {
    border-bottom: solid 1px #e67e22!important
}

.border-yellow-dark {
    border-bottom: solid 1px #f27935!important
}

.bg-hover-yellow-light:hover {
    background-color: #f1c40f!important;
    color: #fff!important;
    transition: all 200ms ease
}

.bg-hover-yellow-dark:hover {
    background-color: #f39c12!important;
    color: #fff!important;
    transition: all 200ms ease
}

.color-yellow-light {
    color: #f1c40f!important
}

.color-yellow-dark {
    color: #f39c12!important
}

.bg-orange-light {
    background-color: #f9690e!important;
    color: #fff
}

.bg-orange-dark {
    background-color: #d35400!important;
    color: #fff
}

.border-orange-light {
    border: solid 1px #f9690e!important
}

.border-orange-dark {
    border: solid 1px #d35400!important
}

.bg-hover-orange-light:hover {
    background-color: #e67e22!important;
    color: #fff!important;
    transition: all 200ms ease
}

.bg-hover-orange-dark:hover {
    background-color: #d35400!important;
    color: #fff!important;
    transition: all 200ms ease
}

.color-orange-light {
    color: #e67e22!important
}

.color-orange-dark {
    color: #d35400!important
}

.bg-red-light {
    background-color: #e74c3c!important;
    color: #fff
}

.bg-red-dark {
    background-color: #c0392b!important;
    color: #fff
}

.border-red-light {
    border: solid 1px #e74c3c!important
}

.border-red-dark {
    border: solid 1px #c0392b!important
}

.bg-hover-red-light:hover {
    background-color: #e74c3c!important;
    color: #fff!important;
    transition: all 200ms ease
}

.bg-hover-red-dark:hover {
    background-color: #c0392b!important;
    color: #fff!important;
    transition: all 200ms ease
}

.color-red-light {
    color: #e74c3c!important
}

.color-red-dark {
    color: #c0392b!important
}

.bg-gray-light {
    background-color: #bdc3c7!important;
    color: #fff
}

.bg-gray-dark {
    background-color: #95a5a6!important;
    color: #fff
}

.border-gray-light {
    border: solid 1px #bdc3c7!important
}

.border-gray-dark {
    border: solid 1px #95a5a6!important
}

.bg-hover-gray-light:hover {
    background-color: #bdc3c7!important;
    color: #fff!important;
    transition: all 200ms ease
}

.bg-hover-gray-dark:hover {
    background-color: #95a5a6!important;
    color: #fff!important;
    transition: all 200ms ease
}

.color-gray-light {
    color: #bdc3c7!important
}

.color-gray-dark {
    color: #95a5a6!important
}

.bg-white {
    background-color: #fff!important
}

.color-white {
    color: #fff!important
}

.border-white {
    border: solid 1px #fff!important
}

.bg-black {
    background-color: #000
}

.color-black {
    color: #000!important
}

.border-black {
    border: solid 1px #000!important
}

.opacity-00 {
    opacity: 0
}

.opacity-25 {
    opacity: .25
}

.opacity-50 {
    opacity: .5
}

.opacity-75 {
    opacity: .75
}

.border-round {
    border-radius: 10px;
    overflow: hidden
}

.bg-green-light i,.bg-green-dark i,.bg-teal-light i,.bg-teal-dark i,.bg-magenta-light i,.bg-magenta-dark i,.bg-yellow-light i,.bg-yellow-dark i,.bg-orange-light i,.bg-orange-dark i,.bg-red-dark i,.bg-red-light i,.bg-gray-light i,.bg-gray-dark i {
    color: #fff
}

.facebook-bg {
    background-color: #3b5998;
    color: #fff;
    border: solid 1px #3b5998
}

.facebook-bg:hover {
    background-color: #4469b7;
    color: #fff;
    border: solid 1px #3b5998
}

.linkedin-bg {
    background-color: #0077b5;
    color: #fff;
    border: solid 1px #0077b5
}

.linkedin-bg:hover {
    background-color: #0186cb;
    color: #fff;
    border: solid 1px #0077b5
}

.twitter-bg {
    background-color: #4099ff;
    color: #fff;
    border: solid 1px #4099ff
}

.twitter-bg:hover {
    background-color: #5fa9fd;
    color: #fff;
    border: solid 1px #4099ff
}

.google-bg {
    background-color: #d34836;
    color: #fff;
    border: solid 1px #d34836
}

.google-bg:hover {
    background-color: #ea4f3b;
    color: #fff;
    border: solid 1px #d34836
}

.whatsapp-bg {
    background-color: #34af23;
    color: #fff;
    border: solid 1px #34af23
}

.whatsapp-bg:hover {
    background-color: #3cc729;
    color: #fff;
    border: solid 1px #34af23
}

.pinterest-bg {
    background-color: #c92228;
    color: #fff;
    border: solid 1px #c92228
}

.pinterest-bg:hover {
    background-color: #e3262c;
    color: #fff;
    border: solid 1px #c92228
}

.sms-bg {
    background-color: #27ae60;
    color: #fff;
    border: solid 1px #27ae60
}

.sms-bg:hover {
    background-color: #2bbe69;
    color: #fff;
    border: solid 1px #27ae60
}

.mail-bg {
    background-color: #3498db;
    color: #fff;
    border: solid 1px #3498db
}

.mail-bg:hover {
    background-color: #38a5ed;
    color: #fff;
    border: solid 1px #3498db
}

.dribbble-bg {
    background-color: #ea4c89;
    color: #fff;
    border: solid 1px #ea4c89
}

.dribbble-bg:hover {
    background-color: #fc5294;
    color: #fff;
    border: solid 1px #ea4c89
}

.tumblr-bg {
    background-color: #2c3d52;
    color: #fff;
    border: solid 1px #2c3d52
}

.tumblr-bg:hover {
    background-color: #3e5674;
    color: #fff;
    border: solid 1px #2c3d52
}

.reddit-bg {
    background-color: #369;
    color: #fff;
    border: solid 1px #369
}

.reddit-bg:hover {
    background-color: #3b77b4;
    color: #fff;
    border: solid 1px #369
}

.youtube-bg {
    background-color: #d12827;
    color: #fff;
    border: solid 1px #d12827
}

.youtube-bg:hover {
    background-color: #ea2e2d;
    color: #fff;
    border: solid 1px #d12827
}

.phone-bg {
    background-color: #27ae60;
    color: #fff;
    border: solid 1px #27ae60
}

.phone-bg:hover {
    background-color: #2cc76e;
    color: #fff;
    border: solid 1px #27ae60
}

.skype-bg {
    background-color: #12a5f4;
    color: #fff;
    border: solid 1px #27ae60
}

.skype-bg:hover {
    background-color: #0f95dd;
    color: #fff;
    border: solid 1px #27ae60
}

.facebook-color {
    color: #3b5998!important
}

.linkedin-color {
    color: #0077b5!important
}

.twitter-color {
    color: #4099ff!important
}

.google-color {
    color: #d34836!important
}

.whatsapp-color {
    color: #34af23!important
}

.pinterest-color {
    color: #c92228!important
}

.sms-color {
    color: #27ae60!important
}

.mail-color {
    color: #3498db!important
}

.dribbble-color {
    color: #ea4c89!important
}

.tumblr-color {
    color: #2c3d52!important
}

.reddit-color {
    color: #369!important
}

.youtube-color {
    color: #d12827!important
}

.phone-color {
    color: #27ae60!important
}

.skype-color {
    color: #12a5f4!important
}

.facebook-color:hover,.twitter-color:hover,.google-color:hover,.pinterest-color:hover,.sms-color:hover,.mail-color:hover,.dribbble-color:hover,.tumblr-color:hover,.reddit-color:hover,.youtube-color:hover,.phone-color:hover {
    color: #fff
}

.heading-strip {
  margin-top: 60px !important;
}

h3 {
 padding-top: 10px;
}
