.bg-full {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden
}

.bg-cover {
    background-size: cover;
    background-position: center center
}

.bg-transparent {
    background: 0 0 !important;
}

.bg {
    background-image: url(../images/pictures/0.jpg) !important;
}

.bg-1 {
    background-image: url(../images/pictures/1.jpg) !important;
}

.bg-2 {
    background-image: url(../images/pictures/2.jpg) !important;
}

.bg-3 {
    background-image: url(../images/pictures/2.jpg) !important;

}

.bg-4 {
    background-image: url(../images/pictures/2.jpg) !important;
}

.bg-5 {
    background-image: url(../images/pictures/2.jpg)  !important;
}

.bg-6 {
    background-image: url(../images/pictures/2.jpg)  !important;
}

.bg-7 {
    background-image: url(../images/pictures/2.jpg)  !important;
}

.bg-8 {
    background-image: url(../images/)  !important;
}

.bg-9 {
    background-image: url(../images/)  !important;
}




.back-to-top-badge {
    background: linear-gradient(to bottom,#333 0%,#000 100%) !important;
  }


.custom-file-container__image-preview{
  height: 400px;
}
