body,#page-content {
    background-color: #fff
}

h1,h2,h3,h4,h5,h6 {
    color: #fff
}

.content,.content-material {
    background-color: #333;
    padding: 20px;
    padding-bottom: 0!important;
    margin: 20px;
    margin-bottom: 30px;
    box-shadow: 0 3px 16px rgba(0,0,0,.1),0 3px 16px rgba(0,0,0,.2);
    overflow: hidden
}

.content .button,.content .icon,.content-material .button,.content-material .icon,.content-fullscreen-material .button,.content-fullscreen-material .icon,.back-to-top-badge,.heading-strip,.notification-large,.notification-medium,.notification-small,.gallery a img,.gallery-adaptive a,.portfolio-item img,.portfolio-icon,.header {
    box-shadow: 0 3px 16px rgba(0,0,0,.1),0 3px 16px rgba(0,0,0,.2)
}

.content-center-material {
    background-color: #fff;
    padding: 30px 20px;
    box-shadow: 0 3px 16px rgba(0,0,0,.1),0 3px 16px rgba(0,0,0,.2)
}

.content-fullscreen-material {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-bottom: 30px;
    box-shadow: 0 3px 16px rgba(0,0,0,.1),0 3px 16px rgba(0,0,0,.2)
}

.content-material-box {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto
}

.material-no-bottom {
    padding-bottom: 0!important
}

.material-full-bottom {
    padding-bottom: 25px!important
}

.material-half-bottom {
    padding-bottom: 5px!important
}

.material-full-top {
    padding-top: 40px!important
}

.material-half-top {
    padding-top: 30px!important
}

.material-no-top {
    padding-top: 0!important
}

.no-material {
    box-shadow: 0 0 0!important;
    background-color: transparent!important;
    margin: 0!important
}

.material-shadows,.material-shadow {
    box-shadow: 0 3px 16px rgba(0,0,0,.1),0 3px 16px rgba(0,0,0,.2)
}

p {
    color: #b4b4b4
}

body {
    color: #b4b4b4
}

p strong {
    color: #c6c6c6
}

a {
    color: #2980b9
}

ul,ol {
    color: #b4b4b4
}

.font-icon-list {
    color: #b4b4b4
}

.font-icon-list i {
    color: #666
}

.sitemap-box a {
    color: #fff!important
}

.table tr.even td {
    background: #efefef
}

.table tr:hover td {
    background: #f8f8f8
}

tr:hover>td {
    background: #fff
}

th {
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    color: #555;
    background-color: #f6f6f6
}

td {
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    color: #666;
    background-color: #fdfdfd
}

table {
    background-color: #f6f6f6;
    border-left: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9
}

.heading-style .line {
    background-color: rgba(255,255,255,.2)
}

.heading-style i {
    background-color: #0c1117;
    color: #666
}

.decoration {
    background-color: rgba(255,255,255,.08)
}

.heading-line-1 {
    background-color: rgba(255,255,255,.1)!important
}

.heading-line-2 {
    background-color: rgba(255,255,255,.1)!important
}

.heading-text i {
    color: #fff!important
}

select {
    color: #9d9d9d
}

.select-box {
    border: 1px solid rgba(255,255,255,.1);
    background: #000 url(data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==) no-repeat 95% 50%
}

.input-text-box {
    border: solid 1px rgba(255,255,255,.1);
    color: rgba(255,255,255,.6)
}

.input-text-line {
    border-bottom: solid 1px rgba(255,255,255,.1);
    color: rgba(255,255,255,.6)
}

.input-text-line:focus,.input-text-box:focus {
    color: #fff!important
}

.input-icon i {
    color: #fff
}

.fac label {
    color: #fff
}

.range-slider-output {
    color: #fff
}

.onoffswitch-label {
    border: none!important
}

.dropcaps-1:first-child:first-letter {
    color: #fff
}

.dropcaps-2:first-child:first-letter {
    color: #fff;
    background-color: #848484
}

.dropcaps-3:first-child:first-letter {
    color: #1f1f1f;
    border-left: solid 4px #c0392b
}

.dropcaps-4:first-child:first-letter {
    color: #1f1f1f;
    text-shadow: 3px 3px 1px rgba(255,255,255,.3)
}

.text-highlight span {
    color: #fff
}

.android-button {
    background-color: #000
}

.android-button em {
    color: #fff
}

.android-button i {
    color: #fff
}

.android-button strong {
    color: #fff
}

.ios-button {
    background-color: #000
}

.ios-button em {
    color: #fff
}

.ios-button i {
    color: #fff
}

.ios-button strong {
    color: #fff
}

.windows-button {
    background-color: #000
}

.windows-button em {
    color: #fff
}

.windows-button i {
    color: #fff
}

.windows-button strong {
    color: #fff
}

.down-button {
    background-color: #000
}

.down-button em {
    color: #fff
}

.down-button i {
    color: #fff
}

.down-button strong {
    color: #fff
}

.menu-bar a {
    color: #fff!important
}

.menu-bar-icons,.menu-bar-text {
    border-bottom: solid 1px rgba(255,255,255,.1)!important
}

.dark-menu-bar {
    background-color: #2c3e50!important
}

.light-menu-bar {
    background-color: rgba(255,255,255,.1)!important
}

.light-menu-bar a {
    color: #fff!important
}

.light-menu-bar i {
    color: #fff!important
}

.progress-line {
    background-color: rgba(255,255,255,.1)!important
}

.progress-indicator em {
    color: #fff
}

.button-ghost,.icon-ghost {
    color: #fff!important
}

.menu-tab-bar a {
    color: #fff!important
}

.light-tab-bar {
    background-color: rgba(255,255,255,.1)
}

.dark-tab-bar {
    border: none!important
}

.dark-tab-bar .selected-tab-bar {
    border: none!important
}

.toggle {
    border-bottom: solid 1px rgba(0,0,0,.1)
}

.toggle .toggle-title {
    color: #1f1f1f
}

.toggle i {
    color: #000
}

.toggle-title {
    color: #fff!important
}

.toggle-title i {
    color: #fff!important
}

.dropdown-ghost {
    color: #fff!important
}

.dropdown-ghost em {
    color: #fff!important
}

.dropdown-ghost .dropdown-item em {
    color: #959595!important
}

.dropdown-ghost i {
    color: #fff!important
}

.accordion-item {
    border: solid 1px rgba(255,255,255,.1)
}

.accordion-toggle {
    color: #fff
}

.last-accordion-item {
    border-bottom: solid 1px rgba(255,255,255,.1)!important
}

ul.tabs li {
    color: #666
}

ul.tabs li.current {
    background: rgba(255,255,255,.05);
    color: #fff
}

.tab-content {
    background: rgba(255,255,255,.05);
    color: inherit
}

.border-image {
    background-color: #fff;
    border: solid 1px rgba(0,0,0,.1)
}

.active-adaptive {
    color: #fff!important
}

.portfolio-adaptive-controls {
    background-color: #2c3e50
}

.portfolio-adaptive-controls h4 {
    color: #fff
}

.portfolio-adaptive-controls .portfolio-switch {
    border-left: solid 1px rgba(255,255,255,.1);
    color: rgba(255,255,255,.5)
}

.quote-1-left {
    border-left: solid 8px #c0392b
}

.quote-1-left em {
    color: #8e8e8e
}

.quote-1-right {
    border-right: solid 8px #c0392b
}

.quote-1-right em {
    color: #8e8e8e
}

.quote-2-left i {
    color: #cacaca
}

.quote-2-right i {
    color: #cacaca
}

.quote-3 a {
    color: #3b3b3b
}

.quote-3 i {
    color: #fff
}

.review-1 em {
    color: #8d8d8d
}

.review-2 em {
    color: #8d8d8d
}

.review-3 a {
    color: #1f1f1f
}

.review-3 i {
    color: #f1c40f
}

.review-3 a {
    color: rgba(255,255,255,.8)!important
}

.page-timeline-1 .timeline-block-left i {
    border: solid 1px #5c5c5c;
    background-color: #0c1117;
    color: #fff
}

.page-timeline-1 .timeline-deco {
    background-color: #5c5c5c
}

.page-timeline-1 .timeline-subheading {
    color: #2980b9
}

.page-timeline-2 .timeline-deco {
    background-color: #cacaca
}

.page-timeline-2 .timeline-icon {
    background-color: #0c1117
}

.page-timeline-2 .timeline-icon i {
    border: solid 1px rgba(255,255,255,.2);
    color: #fff;
    background-color: #000
}

.page-timeline-2 .timeline-content {
    background-color: #0c1117
}

.page-timeline-2 .timeline-content-fullscreen {
    background-color: #0c1117
}

.page-timeline-2 .timeline-subheading {
    color: #2980b9
}

.page-timeline-2 .timeline-smallheading {
    color: #2980b9
}

.page-login-input input {
    background-color: transparent;
    border-bottom: solid 2px rgba(255,255,255,.2);
    color: #fff
}

.page-login-input input:focus {
    border-bottom: solid 2px #27ae60
}

.page-login-input i {
    color: #4a4a4a
}

.page-login-input a i {
    color: #d3d3d3!important
}

.page-login-forgot {
    color: #969696
}

.page-login-create {
    color: #969696
}

.profile-page-1-header p {
    padding-top: 50px!important
}

.profile-page-1-header h1 {
    color: #000!important
}

.profile-page-2-header em {
    color: #989898
}

.profile-page-2-header strong {
    color: #454545
}

.field-title {
    color: #fff
}

.contactField {
    background-color: transparent;
    color: #fff;
    border: solid 1px rgba(255,255,255,.1)
}

.contactField:focus {
    border: solid 1px #27ae60
}

.contactTextarea {
    background-color: transparent;
    color: #fff;
    border: solid 1px rgba(255,255,255,.1)
}

.contactTextarea:focus {
    border: solid 1px #27ae60
}

.page-soon .countdown-class {
    color: #fff!important
}

.page-soon .countdown-class em {
    color: #9a9a9a!important
}

.contact-information {
    color: rgba(255,255,255,.4)!important
}

.contact-information a {
    color: rgba(255,255,255,.4)!important
}

.contact-call,.contact-text,.contact-mail,.contact-facebook,.contact-twitter {
    color: #cacaca
}

.contact-call i,.contact-text i,.contact-mail i,.contact-facebook i,.contact-twitter i {
    color: #fff
}

.user-list-1 {
    border-bottom: solid 1px rgba(255,255,255,.1)
}

.user-list-1 strong {
    color: #fff
}

.user-list-2 {
    border-bottom: solid 1px rgba(255,255,255,.1)
}

.user-list-2 em {
    color: #868686
}

.user-list-2 strong {
    color: #fff
}

.user-list-3 {
    border-bottom: solid 1px rgba(255,255,255,.1)
}

.user-list-3 strong {
    color: #fff
}

.user-list-3 i {
    color: #fff
}

.user-list-4 {
    border-bottom: solid 1px rgba(255,255,255,255.0.1)
}

.user-list-4 strong {
    color: #fff
}

.user-list-4 em {
    color: #868686
}

.user-list-4 .fa-angle-right {
    color: #fff
}

.activity-status {
    border-bottom: solid 1px rgba(255,255,255,.2)
}

.activity-status strong {
    color: #fff
}

.activity-status em {
    color: #cacaca
}

.activity-item {
    border-bottom: solid 1px rgba(255,255,255,.2)
}

.activity-item strong {
    color: #fff
}

.activity-item em {
    color: #cacaca
}

.activity-incident em {
    color: #acacac
}

.activity-incident strong {
    color: #acacac
}

.calendar-titles a {
    color: #cacaca
}

.calendar-days a {
    color: #fff
}

.calendar-days a:hover {
    color: #2980b9
}

.taken-day {
    color: #fff!important
}

.taken-day i {
    color: #27ae60
}

.close-day {
    color: #fff!important
}

.close-day i {
    color: #c0392b
}

.calendar-hours {
    border-top: solid 1px rgba(255,255,255,.1)
}

.calendar-hour {
    border-bottom: solid 1px rgba(255,255,255,.1)
}

.calendar-hour-clear:hover {
    background-color: rgba(39,174,96,.1)
}

.calendar-hour-taken:hover {
    background-color: rgba(192,57,43,.1)
}

.calendar-hour strong {
    color: #666;
    opacity: .7
}

.calendar-hour em {
    color: #666
}

.checklist-item {
    border-bottom: solid 1px rgba(255,255,255,.1)
}

.checklist-item .fa-circle-o {
    color: #acacac
}

.checklist-item em {
    color: #fff
}

.checklist-item em span {
    color: #696969
}

.checklist-item em {
    border-right: solid 1px rgba(255,255,255,.1)
}

.checklist-item strong {
    color: #d3d3d3
}

.completed-checklist {
    color: #838383!important
}

.tasklist-item {
    color: #1f1f1f;
    border-left: solid 4px #ecf0f1
}

.tasklist-item i:first-child {
    color: rgba(255,255,255,.2)
}

.tasklist-item h5 {
    border-top: solid 1px rgba(255,255,255,.1);
    border-right: solid 1px rgba(255,255,255,.1)
}

.tasklist-completed {
    background-color: rgba(255,255,255,.05)
}

.tasklist-completed h5 {
    color: #b1b1b1!important
}

.chat-input {
    border-top: solid 1px rgba(0,0,0,.1);
    background: #1f1f1f
}

.chat-input a:first-child {
    background-color: #4e4e4e;
    color: #fff
}

.chat-input a:last-child {
    background-color: #4e4e4e;
    color: #fff
}

.chat-input input {
    color: #666;
    border: solid 1px rgba(0,0,0,.2)
}

.chat-input input:focus {
    color: #1f1f1f
}

.speach-left {
    background-color: #000;
    border: solid 1px #2a2a2a
}

.speach-right {
    background-color: #000;
    border: solid 1px #2a2a2a
}

.speach-read {
    color: #fff
}

.active-home-tab {
    color: #fff!important;
    border-bottom: solid 3px #e74c3c!important
}

.home-tabs a:hover {
    color: #ccc!important;
    border-bottom: solid 3px #e74c3c!important
}

.home-tabs a {
    color: rgba(255,255,255,.5);
    border-bottom: solid 3px #656565
}

.thumb-layout strong {
    color: #fff
}

.thumb-layout em {
    color: #cacaca
}

.thumb-layout u {
    color: #666!important
}

.badge-news {
    background-color: #fff
}

.badge-news h2 {
    color: #000
}

.badge-news p {
    color: #000
}

.badge-share i {
    color: #5c5c5c!important
}

.badge-store h3 {
    color: #fff!important
}

.card-small-layout strong {
    background-color: #fff;
    color: #1f1f1f
}

.card-small-layout em {
    color: #666
}

.card-small-layout u {
    color: #2980b9
}

.card-large-layout strong {
    background-color: #fff;
    color: #1f1f1f
}

.card-large-layout em {
    color: #666
}

.card-large-layout u {
    color: #2980b9
}

.text-slider {
    background-color: #fff
}

.text-slider p {
    color: #1f1f1f;
    border-bottom: solid 1px rgba(0,0,0,.1)
}

.thumb-layout a u {
    color: rgba(0,0,0,.4)
}

.profile-categories a {
    border-bottom: solid 1px rgba(0,0,0,.05);
    color: #666
}

.profile-categories a em {
    color: #fff
}

.category-slider a em {
    color: #fff
}

.category-slider a strong {
    color: #4e4e4e
}

.category-title {
    color: #fff;
    border-top: solid 1px rgba(0,0,0,.1)
}

.badge-store {
    background-color: #fff
}

.badge-store h2 {
    color: #1f1f1f
}

.badge-store h2 {
    color: #1f1f1f
}

.badge-store h3 {
    color: #1f1f1f
}

.badge-store p {
    color: rgba(255,255,255,.7)
}

.store-slider-item-description h6 {
    color: #e85242
}

.store-slider-category {
    color: #777
}

.store-slider-buttons a {
    color: #fff
}

.store-item strong {
    color: #1f1f1f
}

.store-item em {
    color: #666
}

.store-item .discount {
    color: #e74c3c
}

.store-item .offer {
    color: #27ae60
}

.store-item-button-1 {
    color: #fff;
    background-color: rgba(0,0,0,.8)
}

.store-item-button-2 {
    color: #fff;
    background-color: rgba(0,0,0,.8)
}

.store-item-button-3 {
    color: #fff;
    background-color: rgba(0,0,0,.8)
}

.store-item-list a strong {
    color: #fff
}

.store-item-list a em {
    color: gray
}

.store-item-list a u {
    color: #000;
    background-color: rgba(255,255,255,.9)
}

.store-cart-1 .cart-item h2 {
    color: #2981bb
}

.store-cart-1 .cart-item h3 {
    color: #666
}

.store-cart-1 .cart-item h4 a:first-child {
    color: rgba(255,255,255,.4)
}

.store-cart-1 .cart-item h4 a:first-child:hover {
    color: #2cc16a
}

.store-cart-1 .cart-item h4 a:last-child {
    color: rgba(255,255,255,.4)
}

.store-cart-1 .cart-item h4 a:last-child:hover {
    color: #e74c3c
}

.store-cart-1 .cart-item h4 input {
    border: solid 1px rgba(255,255,255,.3);
    color: #fff;
    background-color: transparent
}

.store-cart-1 .cart-item h5 a {
    color: #c0392b
}

.store-cart-2 .cart-item h2 {
    color: #fff;
    background-color: rgba(0,0,0,.6)
}

.store-cart-2 .cart-item h3 {
    color: #666
}

.store-cart-2 .cart-item h4 a:first-child {
    color: rgba(255,255,255,.4)
}

.store-cart-2 .cart-item h4 a:first-child:hover {
    color: #2cc16a
}

.store-cart-2 .cart-item h4 a:last-child {
    color: rgba(255,255,255,.4)
}

.store-cart-2 .cart-item h4 a:last-child:hover {
    color: #e74c3c
}

.store-cart-2 .cart-item h4 input {
    border: solid 1px rgba(255,255,255,.1);
    color: #fff;
    background-color: transparent
}

.store-input input {
    border-bottom: solid 1px rgba(255,255,255,.2);
    color: #bdc3c7;
    background-color: transparent
}

.store-input input:focus {
    border: solid 1px #27ae60!important;
    color: #666
}

.store-input select {
    border-bottom: solid 1px rgba(255,255,255,.2);
    color: #bdc3c7;
    background-color: transparent
}

.store-input select:focus {
    border-bottom: solid 1px #27ae60!important;
    color: #666
}

.store-about-image img {
    border: solid 5px #fff
}

.store-history-item h2 {
    color: #666
}

.store-history-item h6 {
    color: #fff;
    background-color: rgba(0,0,0,.5)
}

.store-history-toggle a {
    color: #fff!important
}

.store-item strong {
    color: #fff
}

.page-invoice {
    background-color: #0c1117!important
}

.page-blog-tags {
    color: #b7b7b7
}

.page-blog-list-by * {
    color: #fff
}

.page-blog-list-by a {
    color: #2980b9!important
}

.page-blog-list-more i {
    color: #fff;
    background-color: #2980b9
}

.page-blog-list-more i:hover {
    color: #fff;
    background-color: #3498db
}

.page-blog-list-share i {
    color: #fff;
    background-color: #27ae60
}

.page-blog-list-share i:hover {
    background-color: #2ecc71
}

.blog-sidebar-text a strong {
    color: #fff
}

.blog-sidebar-text a em {
    color: #414141
}

.blog-sidebar-text a i {
    color: #cacaca
}

.blog-sidebar-search input {
    color: #b2b2b2!important;
    border-bottom: solid 2px rgba(255,255,255,.1)
}

.blog-sidebar-search i {
    color: #fff!important
}

.blog-sidebar-search input:focus {
    border-bottom: solid 2px #27ae60
}

.blog-sidebar-recent-posts a {
    border-bottom: solid 1px rgba(0,0,0,.1)
}

.blog-sidebar-recent-posts strong {
    color: #1f1f1f
}

.blog-sidebar-recent-posts em {
    color: rgba(0,0,0,.5)
}

.blog-sidebar-recent-posts i {
    color: #1f1f1f
}

.blog-sidebar-categories a {
    border-bottom: solid 1px rgba(0,0,0,.1);
    color: #777
}

.blog-sidebar-categories a em {
    background-color: #e74c3c;
    color: #fff
}

.blog-post-comment strong {
    color: #fff
}

.blog-post-comment em {
    color: #727272
}

.blog-post-comment-add input:focus {
    border-bottom: solid 2px #27ae60
}

.blog-post-comment-add input {
    background-color: rgba(0,0,0,.1);
    border-bottom: solid 1px rgba(255,255,255,.1);
    color: #fff
}

.blog-post-comment-add textarea {
    background-color: rgba(0,0,0,.1);
    border-bottom: solid 1px rgba(255,255,255,.1);
    color: #fff
}

.blog-post-comment-add textarea:focus {
    border-bottom: solid 2px #27ae60
}

.gallery-collection-item a img {
    border: solid 3px #0c1117!important
}

.gallery-collection-item em {
    background-color: #0c1117!important;
    color: #fff!important
}
